.body-img {
    width: 200px;
    height: 200px;
}

.img-container {
    grid-row: 2;
    cursor: pointer;
    width: 200px;
}
/* .img-container:hover {
} */

.body-header {
    background-color: gainsboro;
    width: 100vw;
    grid-row: 1;
}

.app-body-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,400px) ) ;
    grid-template-rows: 3;
    gap: 10px;
    justify-content: end
}

.body-footer {
    background-color: gainsboro;
    /* width: 80vw; */
    grid-row: 3;
    
}

