
@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3); 
    color: var(--secondary-clr2);
  }
} 

.app-header {
  background-color: rgb(246, 248, 252);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.6em;
}
.search-div input {
  margin-left: 10px;
}

.mail-header h1{
  margin-top: 1em;
  margin-left: 20px;
  font-size: 25px;
}
