.note-header {
  background-color: rgb(246, 248, 252);
}
.note-header button {
  width: 1.5em;
  height: 1.5em;
}

/* @media (max-width: 700px) {
  .add-note-component {
    margin-left: 0;
  }
} */
.note-header input {
  height: 2.875em;
  padding: 0;
  width: 25em;
  border: 1px solid transparent;
}
.add-note-component {
  margin-bottom: 1em;
  margin-left: 20em;
}
.trash-icon {
  width: 15px;
}
