.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  gap: 10px;
}
.edit-modal {
  margin: auto;
}
.note-txt {
  color: white;
}

.note-img {
  border: 0.5px solid green;
  background-color: white;
}

.user-input-container button {
  height: 0.5em;
  border: 0;
  background-color: inherit;
}

.user-input-container {
  display: flex;
}
.user-btn:hover {
  border-top: 1px solid gray;
}
/* .notes-list li {
  background-color: #5596ce;
  width: fit-content;
} */
.notes-list {
  list-style: none;
  padding: 0;
}

.note-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.remove-todo-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.trash-icon {
  height: 20px;
  width: 20px;
}

.note {
  font-size: 16px;
  line-height: 1.4;
}

.note-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* .notes-list li{
  
} */
.txt-done {
  text-decoration: line-through;
}
.edit-modal {
  width: 250px;
  height: 200px;
  border: 1px solid pink;
  background-color: aliceblue;

  margin-top: 0;
}
