/* .clean-list {
  list-style-type: none;
}
.todo-container {
  background-color: pink;
  border: 1px solid black;
}
.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 10px;
}

.back-ground-color {
  background-color: #00d;
} */
