.clean-list {
  list-style-type: none;
}

.note-container {
  border: 1px solid gray;
  border-radius: 10px;
}
.note-txt p {
  color: black;
}

.remove-todo-btn {
  margin-bottom: 0;
}
/* .duplicate-icon {
  border: none;
  background-color: transparent;
} */
.duplicate-todo-btn {
  background-color: transparent;
  border: none;
}
