/* .edit {
  margin-block-end: 1em;
}
.note-index {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
}
.notes-list > * {
  grid-column: 2;
}
.note-header {
  grid-column: 1/-1;
} */

/* .main-layout {
  background-color: rgb(172, 201, 201);
  display: grid;
  grid-template-columns: 150px 1fr;
}
.main-layout > *:not(.note-nav) {
  grid-column: 2;
}
.note-nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(246, 248, 252);
} */
/* .main-layout > .full {
  grid-column: 1 / -1;
} */

/* .note-header{
    grid-column: ;
} */
/* .main-layout {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

.main-layout > *:not(.full) {
  grid-column: 2;
}

.main-layout > .full {
  grid-column: 1 / -1;
}

/* CARD LAYOUT */

/* .card-layout {
  margin-bottom: 130px;
} */
.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 250px));
  gap: 10px;
}
.edit-modal {
  margin: auto;
}
.note-txt {
  color: white;
}
.todos-articale {
  background-color: pink;
}
.note-img {
  border: 0.5px solid green;
  background-color: white;
  /* background-color: rgb(250, 169, 93);
  background-color: rgb(31, 18, 18); */
}
.black {
  color: rgb(31, 18, 18);
  font-size: 1.5em;
}
.yellow {
  color: rgb(250, 169, 93);
  font-size: 1.5em;
}
/* .user-input-container {
  border: 1px solid black;
} */
.user-input-container button {
  height: 0.5em;
  border: 0;
  background-color: inherit;
}

.user-input-container {
  /* margin-left: .5em; */
  display: flex;
}
.user-btn:hover {
  border-top: 1px solid gray;
  /* border-radius: 50%; */
}
