/* .remove-todo-btn {
  width: 10px;
  position: absolute;
  top: 0;
  right: 0;
} */
/* .note-container li{
  position: relative;
} */
input {
  padding: 0;
}
.todos-txt {
  cursor: pointer;
}
/* todos-txt">{{todo.txt}}</h5><span class="remove-todo-text */

/* .remove-todo-text {
  float: right;
} */
