.email-preview{
    display: flex;
    height: 1em;
}

.email-content {
    margin-left: 3em;
}

.email-preview-buttons button {
    height: .5em;
    border: 0;
    background-color: inherit;
}

.email-preview-buttons {
    /* margin-left: .5em; */
    display: flex;
}

.email-preview-chackbox {
    height: 1.3em;
    width: 1.75em;
}

.email-subject {
    width: 150px;
    height: 20px;
    overflow: hidden;
}

.mail-nav-text {
    margin-left: 20px;
}

.email-sent-at{
    margin-left: 1em;
}

.starred {
    fill: yellow;
}