.create-mail-modal {
    background-color: rgba(218, 218, 218, 0.86);
    position: absolute;
    width: 20em;
    height: 30em;
    left: calc(50% + 300px);
    top: 250px;
    grid-column: 3;
    border: 2px solid black;
}

.create-mail-modal input {
    width: 100%;
    height: 2em;
    border: none;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    padding-bottom: 10px;
}

.create-mail-modal .create-content {
    height: 27.6em;
}