.mail-list {
    list-style: none;
}

.mail-list li {
    /* border: .5px solid black; */
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    position: relative;
}

.mail-list li:hover {
    border: .5px solid black;
   cursor: pointer; 
}

.read {
    background-color: #d5e7ff;
    color: #202124;
}

.curr-email {
    background-color: aquamarine;
    width: 400px;
    height: 400px;
    position: relative;
    left: calc(50% - 150px);
}