.email-preview{
    display: flex;
    width: 70vw;
    height: 1em;
}


.email-content {
    margin-inline-start: 2em;
}

.email-preview-buttons button {
    height: .5em;
    border: 0;
    background-color: inherit;
}

.email-preview-buttons {
    /* margin-left: .5em; */
    display: flex;
}

.email-preview-chackbox {
    height: 1.3em;
    width: 1.75em;
}