.email-preview{
    display: flex;
    width: 80vw;
    height: 1em;
}


.email-content {
    margin-inline-start: 2em;
}

.email-preview-buttons button {
    height: .5em;
    border: 0;
    background-color: inherit;
}

.email-preview-buttons {
    margin-left: 17em;
}

.email-preview-chackbox {
    height: 1.3em;
    width: 1.75em;
}