
.mail-header {
    background-color: rgb(246, 248, 252);

    display: flex;
    align-items: center;
    height: 3.6em;
}
.mail-header button {
    width: 1.5em;
    height: 1.5em;
}

.mail-header input {

    height: 3.3em;
    border: none;
    background-color: rgb(237, 243, 251);
}

.mail-header input:focus {
    outline: none;
} 

.search-div {
    margin-top: 0.6em;
    border-radius: 8px;
    margin-left: 150px;
    height: 3.3em;
    padding: 0;
    width: 25em;
    background-color: rgb(237, 243, 251);
    margin-bottom: 10px;
}

.search-div input {
    margin-left: 10px;
}

.mail-header h1{
    margin-left: 50px;
    margin-top: 1em;
    font-size: 35px;
    margin-bottom: 45px;
}

.mail-nav {
    list-style: none;
    position: absolute;
    width: 263px;
    height: 100vh;
    padding-left: 0.5em;
    background-color:  rgb(246, 248, 252);
    grid-column: 2;
}

.mail-nav li {
    display: flex;
    cursor: pointer;
    margin-top: .5em;
    border-radius: 10px;
    margin-right: .5em;
}

.mail-nav li:hover {
    background-color: rgba(225, 225, 225, 0.784);
}


.mail-main-content{
    display: grid;
    grid-template-columns: 10px 250px 1fr 10px;
}


.search-img {
    width: 20px;
    margin-top: 10px;
}

.back-button {
    width: 20px;
    margin-left: 200px;
    font-size: 22px;
    text-decoration: underline;
}