/* Playfair */
@font-face {
  font-family: playfair;
  src: url(/AppFonts/playfair/PlayfairDisplay-Regular.ttf);
}
/* Ubuntu */
@font-face {
  font-family: ubuntu;
  src: url(/AppFonts/ubuntu/Ubuntu-Light.ttf);
}
/* Inconsolata */
@font-face {
  font-family: inconsolata;
  src: url(/AppFonts/inconsolata/Inconsolata-Regular.ttf);
}
